In [1]:
# system
import glob
# data wrangling
import numpy as np
import pandas as pd

In [4]:
filepaths = glob.glob("../data/*.csv")
for path in filepaths:
    print(path)

../data/sell_prices.csv
../data/calendar.csv
../data/sales_train_validation.csv
../data/sample_submission.csv

In [5]:
# load up all csv into pandas.DataFrame
# default column type is str/object
data = {path.split("/")[-1].replace(".csv", ""): pd.read_csv(path, dtype=str) for path in filepaths}

# Sell Prices

In [6]:
sell_prices = data["sell_prices"]

In [9]:
sell_prices.info(null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6841121 entries, 0 to 6841120
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   store_id    6841121 non-null  object
 1   item_id     6841121 non-null  object
 2   wm_yr_wk    6841121 non-null  object
 3   sell_price  6841121 non-null  object
dtypes: object(4)
memory usage: 208.8+ MB

In [10]:
sell_prices.head()

  store_id        item_id wm_yr_wk sell_price
0     CA_1  HOBBIES_1_001    11325       9.58
1     CA_1  HOBBIES_1_001    11326       9.58
2     CA_1  HOBBIES_1_001    11327       8.26
3     CA_1  HOBBIES_1_001    11328       8.26
4     CA_1  HOBBIES_1_001    11329       8.26

In [11]:
sell_prices.tail()

        store_id      item_id wm_yr_wk sell_price
6841116     WI_3  FOODS_3_827    11617        1.0
6841117     WI_3  FOODS_3_827    11618        1.0
6841118     WI_3  FOODS_3_827    11619        1.0
6841119     WI_3  FOODS_3_827    11620        1.0
6841120     WI_3  FOODS_3_827    11621        1.0

# Sales

# Calendar